<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1207.ve6191ff089f8">
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@716.vc692a_e52371b_">
      <branch plugin="branch-api@2.1046.v0ca_37783ecc5">
        <sourceId>9c143df7-c487-4487-bf2b-12548c6e4371</sourceId>
        <head class="org.jenkinsci.plugins.github_branch_source.BranchSCMHead" plugin="github-branch-source@1687.v7618247e672d">
          <name>dev</name>
        </head>
        <scm class="hudson.plugins.git.GitSCM" plugin="git@4.11.5">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/heads/dev:refs/remotes/origin/dev</refspec>
              <url>https://github.com/remigiusz-donczyk/final-project.git</url>
              <credentialsId>github-account</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches class="singleton-list">
            <hudson.plugins.git.BranchSpec>
              <name>dev</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.com/remigiusz-donczyk/final-project</url>
          </browser>
          <submoduleCfg class="empty-list"/>
          <extensions>
            <jenkins.plugins.git.GitSCMSourceDefaults>
              <includeTags>false</includeTags>
            </jenkins.plugins.git.GitSCMSourceDefaults>
          </extensions>
        </scm>
        <properties/>
        <actions>
          <org.jenkinsci.plugins.github__branch__source.GitHubLink plugin="github-branch-source@1687.v7618247e672d">
            <iconClassName>icon-github-branch</iconClassName>
            <url>https://github.com/remigiusz-donczyk/final-project/tree/dev</url>
          </org.jenkinsci.plugins.github__branch__source.GitHubLink>
          <jenkins.scm.api.metadata.ObjectMetadataAction plugin="scm-api@621.vda_a_b_055e58f7">
            <objectDisplayName>dev</objectDisplayName>
            <objectUrl>https://github.com/remigiusz-donczyk/final-project/tree/dev</objectUrl>
          </jenkins.scm.api.metadata.ObjectMetadataAction>
          <jenkins.scm.api.metadata.PrimaryInstanceMetadataAction plugin="scm-api@621.vda_a_b_055e58f7"/>
        </actions>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@716.vc692a_e52371b_">
    <scriptPath>Jenkinsfile</scriptPath>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>