<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
  cacheResultFile="tests/.phpunit.cache/test-results"
  defaultTestSuite="all"
  executionOrder="depends,defects"
  forceCoversAnnotation="true"
  beStrictAboutCoversAnnotation="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTodoAnnotatedTests="true"
  convertDeprecationsToExceptions="true"
  failOnRisky="true"
  failOnWarning="true"
  verbose="true">
  <testsuites>
    <testsuite
      name="all">
      <directory
        suffix=".php">tests/</directory>
    </testsuite>
  </testsuites>
  <coverage
    cacheDirectory="tests/.phpunit.cache/code-coverage"
    processUncoveredFiles="true">
    <include>
      <directory suffix=".php">tests/</directory>
    </include>
  </coverage>
</phpunit>

