* {
  border: 0;
  margin: 0;
  padding: 0;
}
body, #txtcontainer, #imgcontainer {
  background: #78909c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body {
  color: #000;
  background: #4b636e;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
p {
  font-size: 1.3rem;
  font-family: 'Renogare', sans-serif;
  text-align: center;
}
#docs {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #a7c0cd;
  border-radius: 1vh;
  padding: 7px 14px;
  transition: background 0.3s;
}
#docs:hover {
  background: #78909c;
}
#refresh {
  background: #7cb342;
  border-radius: 1vh;
  padding: 10px 20px;
  display: inline-block;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background 0.5s;
}
#refresh:hover {
  background: #4b830d;
}
#meme {
  max-height: 100%;
  max-width: 100%;
}
#title {
  font-size: 2.5rem;
}
#txtcontainer {
  width: fit-content;
  padding: 0 20px;
  line-height: 0.7;
  gap: 10%;
  border-radius: 5vh 5vh 0 0;
  justify-content: center;
  height: 25%;
  position: relative;
}
#imgcontainer {
  width: 60%;
  border-radius: 5vh;
  height: 65%;
}
#roundleft, #roundright {
  height: 5vh;
  aspect-ratio: 1;
  background: inherit;
  position: absolute;
  bottom: 0;
}
#roundleft::before, #roundright::before {
  content: '';
  background: #4b636e;
  position: absolute;
  width: 10vh;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0;
}
#roundleft {
  left: -5vh;
}
#roundright {
  right: -5vh;
}
#roundleft::before {
  right: 0;
}
#roundright::before {
    left: 0;
}

